<h3> <%= @survey.title %> </h3>

<% if @questions.any? %>
<% counter = 0 %>
<form class="" action="index.html" method="post">
  <% @questions.each do |question| %>
    <div class="<%= counter %> hide">
    <%= question.query %>
    <% if question.answers.any? %>
        <% question.answers.each do |answer| %>
          <div class="radio">
            <label>
              <input type="radio" name="color" value="<%= answer.id %>">
              <%= answer.solution %>
            </label>
          </div>
        <% end %>
    <% end %>
    <button type="button" name="button" class="btn" id="<%= counter %>">Next Question</button>
    <% counter += 1 %>
  </div>
  <% end %>
</form>


<% else %>
  <p>There are currently no questions for this survey.</p>
<% end %>

<footer>
  <a href="/"><button type="button" class="btn">Home</button></a>
</footer>
